<%- include('header') %>


<%- include('message') %>
<!--Content-->
<div class="rentalPage">
    <div class="sideBar">
        <h5>Válassz kategóriát</h5>
        <span class="catImg semmiCat">
            <!--category img-->
        </span>
        <h5>A semmi közt böngészel kisbarát</h5>
        <button class="btn btn-primary catBtn" onclick="filterItems('Könyv')">Könyvek</button>
        <button class="btn btn-dark catBtn" onclick="filterItems('Film')">Filmek</button>
        <button class="btn btn-secondary catBtn" onclick="filterItems('Minden')">Minden kategória</button>
    </div>
    <span class="separator">

    </span>
    <div class="rentalContent">
        <div class="cardSystem">
            <% results.forEach((element) => { %>
                <form class="RentalCard" action="/rentals/rent" method="post">
                    <h4><%= element.title %></h4>
                    <h6 class="Title <%= element.available ? 'text-success' : 'text-danger' %>">
                        <%= element.available ? 'Elérhető' : 'Elérhetetlen' %>
                    </h6>
                    
                    <input type="hidden" name="userID" value="<%= session.userID %>">
                    <input type="hidden" name="itemID" value="<%= element.id %>">
                    <button 
                        class="btn <%= element.available ? 'btn-success rent' : 'btn-secondary' %>" 
                        <%= element.available ? '' : 'disabled' %>>
                        <%= element.available ? 'Kölcsönzés' : 'Nem fogod kikölcsönözni' %>
                    </button>
                </form>
            <% }); %>
            
            
        </div>
    </div>
</div>

<script>
    let catImg = document.querySelector(".catImg");
    let rentBtn = document.querySelector("rent")
    
function rentItem(itemType){
    alert( itemType+ " kikölcsönözve!");
}
function cannotRent(){
    alert("Bolond vagy? Mondom hogy nem fogod kikölcsönözni!")
}
function filterItems(type) {
    catImg.classList.remove('semmiCat', 'mindenCat', 'filmCat', 'konyvCat'); 

    switch (type) {
        case 'Könyv':
            catImg.classList.add('konyvCat');
            break;
        case 'Film':
            catImg.classList.add('filmCat');
            break;
        case 'Minden':
            catImg.classList.add('mindenCat');
            break;
        default:
            catImg.classList.add('semmiCat'); 
            break;
    }
}
document.querySelectorAll('.RentalCard').forEach(form => {
    form.addEventListener('submit', function (event) {
        const title = form.querySelector('input[name="title"]').value;
        const type = form.querySelector('select[name="type"]').value;

        if (!title || !type) {
            alert('Minden mezőt ki kell tölteni!');
            event.preventDefault();
        }
    });
});
</script>

<%- include('footer') %>